.example-appear {
  opacity: 0.01;
  margin-top: 1000px;
}

.example-appear.example-appear-active {
  opacity: 1;
  margin-top: 0px;
  transition: all .5s ease-in;
}

.domain-content {
  background-color: white;
  max-width: 1170px;
  height: 570px;
}

.about-opposite {
  margin: 0;
  font-family: 'Roobert-Bold';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  color: rgba(51, 51, 51, 0.35);;
}

.content-with-carousel {
  display: flex;
  justify-content: space-between;
}

.about-content-left-of-carousel {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutCarousel {
  width: 470px;
  height: 600px;
}

@media only screen and (max-width: 700px) {
  .about-top-heading {
    padding-left: 30px;
    padding-right: 30px;
  }
}