.example-appear {
  opacity: 0.01;
  margin-top: 1000px;
}

.example-active {
  animation: bot-top .5s linear;
}

.example-leave {
  animation: stay-there .5s linear;
}

@keyframes stay-there {
  0% { display: block; }
  100% { display: none; }
}

@keyframes bot-top {
  0% { margin-top: 1000px; }
  100% { margin-top: 0px; }
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
  margin-top: 0px;
  transition: all .5s ease-in;
}

.domain-content {
  background-color: white;
  max-width: 1170px;
  height: 570px;
  padding: 50px;

  @media only screen and (max-width: 700px) {
    padding: 20px;
  }
}

.content-with-carousel {
  display: flex;
  justify-content: space-between;
}


@media only screen and (min-width: 700px) {
  .about-content-left-of-carousel {
    width: 570px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
    height: 460px;
  }

  .about-carousel {
    height: 600px;
    width: 470px;
  }
}

.about-top-heading {
  max-width: 1170px;
}

@media only screen and (max-width: 700px) {

  .about-top-heading {
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
  }
}