.typeEmail {
  width: 90%;
  height: 60px;
  transition: all 0.5s ease-in-out;
}

#emailInput {
  height: 114px;
  transition: all 0.5s ease-in-out;
}

.fail {
  font-size: 20px;
}

#confirm {
  transition: transform 0.5s ease-in-out;

  p {
    color: #009C06;
  }
}

.moveUp {
  border-color: red;
  transform: translateY(-15px);
}

#hidden {
  margin-top: -20px;
  color: #D81331;
  font-size: 20px;
  display: hidden;
}

#goRightSignUp {
  border: none;
  outline: none;
  background: transparent;
  height: 3rem;
  padding: 0;
}


.translateOut {
  transition: all 0.5s ease-in-out;
}

.translateUp {
  transform: translateY(-170px);
}