.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  padding: 4% 0% 4% 0%;
}

.infinite-scroll {
  width: 80vw;
  height: 30vh;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    grid-template-columns: auto;
    row-gap: 15px;
    column-gap: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
}