.portfolioContainer {
  justify-self: center;
  max-width: 1170px;
  max-height: 700px;
  transition: transform 0.5s ease-in-out;
}

.portfolioContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolioTitle {
  font-family: 'Roobert-regular';
  font-size: 20px;
  font-weight: normal;
}

.portfolioSubtitle {
  font-family: 'Roobert-regular';
  font-size: 20px;
  font-weight: normal;
  color: rgba(51, 51, 51, 0.5);
}

@media only screen and (min-width: 700px) {
  .portfolioContainer:hover {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 1440px) {
  .portfolioContainer {
    width: 100% !important;
  }
} 

@media only screen and (max-width: 700px) {
  .portfolioContainer {
    justify-self: center;
  }
}