@import '../../css/variables.scss';
@import '../../css/mixins.scss';

/* Top heading */
.careers-at-opposite {
  @include top-heading;
}

.careers-top-heading {
  @media only screen and (max-width: 767px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.careers-appear {
  opacity: 0.01;
  margin-top: 1000px;
}

.careers-appear.careers-appear-active {
  opacity: 1;
  margin-top: 0px;
  transition: all .5s ease-in;
}

.careers-leave {
  position: fixed;
}

