.card {
  max-width: 370px;
  max-height: 470px; 
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  transition: 500ms ease-in-out;
}

.vanish {
  opacity: 0;
  position: absolute;
  transition: all 500ms ease-in-out;
}

.cardContainer:hover {
  transform: translateY(-7%);
}

.cardContainer:hover .subtitle {
  transform: translateY(-100%);
}

.cardContainer:hover .vanish {
  opacity: 1;
  transform: translateY(-100%);
}

.cardContainer {
  transition: 500ms ease-in-out;
  background-color: white;
}

.aboutTeam {
  position: absolute;
  width: 70vw;
  height: 60vh;
  top: 20vh;
  background-color: blue;
  animation: grow 2s linear;
}

@keyframes grow {
  0% { transform: scale(0.0); transform-origin: 0 0; }
  100% { transform: scale(1.0); transform-origin: 0 0; }
}