.filter-container {
  max-width: 1170px;
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.active-filter {
  background: #333333 !important;
  color: #FFFFFF;
}

.filter-buttons {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-family: 'Roobert-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

  &:focus {
    outline: none;
  }
}