.career-details-heading-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.career-details-heading-card {
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  max-height: 570px;
  max-width: 1170px;
  height: 464px;
  overflow: hidden;
}

.career-details-heading {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;

  @media only screen and (min-width: 1100px) {
    padding-top: 50px;
    padding-left: 50px;
  }
}

.careers-criteria-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 15px;
  padding-right: 15px;

  @media only screen and (min-width: '1100px') {
    max-width: 1170px;
  }
}

.careers-criteria-detail {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media only screen and (min-width: '1100px') {
    width: 670px;
    justify-content: space-between;
    align-self: center;
  }

}

.career-details-downarrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-family: 'Roobert-Regular';
  font-size: 50px;

  @media only screen and (min-width: 1100px) {
    right: 50px;
    bottom: 50px;
    font-size: 70px;
  }
}

.criteria-icon {
  width: 25px;
  height: 25px;

  @media only screem and (min-width: 1100px) {
    width: 32px;
    height: 32px;
  }
}

.crteria-heading {
  min-width: 290px;
  margin: 0;
  font-family: 'Merriweather';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  
  @media only screen and (min-width: 1100px) {
    font-size: 18px;
    line-height: 32px;
  }
}

.career-details-criteria-heading {
  text-align: center;
  font-family: 'Roobert-Regular';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;

  @media only screen and (min-width: 1100px) {
    max-width: 770px;
    font-size: 32px;
    line-height: 45px;
  }
}

.footer-details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  height: 464px;
  overflow: hidden;
  background-color: #EAEAEA;

  @media only screen and (max-width: 767px) {
    height: 253px;
  }
}

.contact-us-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 970px;
  height: 214px;
}

.career-details-email {
  text-decoration-skip-ink: none;
  
  @media only screen and (max-width: 767px) {
    color: #0E0EFE;
  }
}

.contact-us-heading {
  font-family: 'Roobert-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #333333;
  margin: 0;

  @media only screen and (max-width: 767px) {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }
}

.contact-us-sub-heading {
  margin-top: 50px;
  max-width: 570px;
  font-family: 'Roobert-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 0;


  @media only screen and (max-width: 767px) {
    margin-top: 25px;
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }
}