.overlay {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}


.card-content-container {
  max-width: 1170px;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}
.close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  border: none;
  background: transparent;
}
.modal-card-content {
  position: relative;
  background: white;
  padding: 50px 100px 100px 50px;
}

.team-modal-social {
  width: 316px;
  display: flex;
  justify-content: space-between;
}

.card-content-container.open {
  top: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 50px 0;
}

.content-container {
  margin-top: 50px;
  font-family: 'Merriweather';
  display: flex;
  justify-content: space-between;
  column-gap: 130px;
}

.content-para {
  font-size: 18px;
  line-height: 32.4px;
  font-style: normal;
  width: 520px;

  &:first-child {
    margin-bottom: 50px;
  }
}

.content-carousel {
  > div {
    width: 370px;
    height: 500px;
  }
}