@import '../../css/mixins.scss';

.overlay {
  z-index: 1;
  position: fixed;
  background: #F1F1F1;
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}

.position-relative {
  padding-top: 50px;
  position: relative !important;

  @include mobile {
    padding-top: 0px;
    position: inherit;
  }

}

.card-content-container {
  max-width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  pointer-events: none;

  @media only screen and (max-width: 1170px) {
    width: 100vw;
  }
}


.close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  border: none;
  background: transparent;

  @include mobile {
    top: 20px;
    right: 20px;
  }
}
.modal-card-content {
  position: relative;
  background: white;
  padding: 3.125rem 6.25rem 6.25rem 3.125rem;

  @include mobile {
    padding: 0;
  }
}

.team-modal-social {
  width: 316px;
  display: flex;
  justify-content: space-between;
}

.card-content-container.open {
  position: fixed;
  top: 20px;
  z-index: 1;
  overflow: hidden;
}

.content-container {
  margin-top: 50px;
  font-family: 'Merriweather';
  display: flex;
  justify-content: space-between;
  column-gap: 130px;
  row-gap: 60px;

  @include tablet {
    flex-wrap: wrap;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.content-para {
  max-width: 520px;

  &:first-child {
    margin-bottom: 50px;
  }
}

.content-carousel {
  > div {
    width: 370px;
    height: 500px;

    @include tablet {
      width: 100%
    }
  }
}