.team-modal-wrapper {
  position: absolute;
  margin: 0 auto;
  top: 330%;
  left: 16%;
  padding: 50px;
  width: 1170px;
  height: 600px;
  background-color: white;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  clip-path: polygon(0 0, 0% 0, 0% 0%, 0 0%);
  font-family: 'Roobert Regular';
}

.team-modal {
  display: flex;
  justify-content: column;
}

.open-modal {
  visibility: visible;
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
}

