.nav-items {
  z-index: 1;
  font-family: 'Roobert-Regular';
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 1170px;
  height: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 32px;
}

.nav-position {
  display: flex;
  justify-content: space-between;
  pointer-events: all;
}

.nav-active {
  text-decoration: underline;
}

.hamburger {
  z-index: 3;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


li {
  cursor: pointer;
  list-style-position: outside;
  list-style-type: none;
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 768px) {

  .nav-items {
    z-index: 1;
    position: fixed;
    height: 100vh;  
    width: 100vw;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(0px at 89% 6%);
    -webkit-clip-path: circle(0px at 89% 6%);
    transition: all 0.3s ease-in-out;
  }

  .nav-position {
    z-index: 3;
    left: -170px;
    padding: 0px 0px 30px 30px;
    height: calc(100vh - 15vh);
    display: flex;
    width: 100vw;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
  }

  .nav-slide-in {
    left: 0;
  }

  .nav-items.nav-open {
    clip-path: circle(1000px at 89% 6%);
    -webkit-clip-path: circle(1000px at 89% 6%);
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav-items {
    top: 42px;
    height: 3rem;
    background-color: transparent;
    flex-direction: row;
  }

}