.nav-header {
  z-index: 1;
  font-family: 'Roobert-Regular';
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 1170px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 32px;
}

 .nav-items {
   color: #333333;
  text-decoration: none;
  text-decoration-skip-ink: none;
}

.nav-position {
  display: flex;
  justify-content: space-between;
  pointer-events: all;
}

.nav-active {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.hamburger {
  z-index: 3;
  position: absolute;
  right: 15px;
  top: 15px;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


li {
  cursor: pointer;
  list-style-position: outside;
  list-style-type: none;
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 768px) {

  .nav-header {
    z-index: 1;
    position: fixed;
    height: 100vh;  
    width: 100vw;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    clip-path: circle(0px at 89% 6%);
    -webkit-clip-path: circle(0px at 89% 6%);
    transition: all 0.3s ease-in-out;
  }

  .nav-position {
    z-index: 3;
    left: -170px;
    padding: 0px 0px 30px 30px;
    height: calc(100vh - 15vh);
    display: flex;
    width: 100vw;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
  }

  .nav-slide-in {
    left: 0;
  }

  .nav-header.nav-open {
    clip-path: circle(1000px at 89% 6%);
    -webkit-clip-path: circle(1000px at 89% 6%);
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav-header {
    top: 42px;
    height: 3rem;
    background-color: transparent;
    flex-direction: row;
  }

  .nav-bar-underline {
    position: absolute;
    border: 2px solid #333333;
    width: 50px;  
  }
}

.nav-bar-and-underline {
  display: flex;
  flex-direction: column;
}




/* page enter and leave animations */
#root-div-active {
  margin-top: 5000px;
  animation: bot-top .5s linear forwards;
}

#root-div-leave {
  touch-action: none;
  animation: stay-there .5s linear forwards 2s;
}

@keyframes stay-there {
  0% { display: block; }
  100% { display: none; }
}

@keyframes bot-top {
  0% { margin-top: 2000px; }
  100% { margin-top: 0px; }
}