@import 'variables.scss';

// breakpoint mixins
@mixin mobile {
  @media screen and (max-width: $mobile) {
      @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
      @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
      @content;
  }
}

@mixin top-heading {
  margin: 0;
  font-family: $font-family-bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(51, 51, 51, 0.35);;
}

@mixin card-title-content {
  font-family: $font-family-regular;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin marquee-content($animation-name, $direction: normal) {
  height: 100%;
  display: flex;
  column-gap: 150px;
  animation: $animation-name 15s linear infinite $direction;
}