body:hover .alwaysHover {
  transform: translateY(10px);
}

.footer-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

@media only screen and (max-width: 767px) {
  .footer-grid {
    padding: 0% 4.166%;
    grid-template-columns: auto;
  }
}

.instagram {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 30px;
  bottom: 30px;
}

/* inputEmail */
.translateOut {
  transform: translateX(500px);
}

.overlap {
  bottom: 90px;
  right: 50px;
}

.footer_reel {
  max-width: 310px;
  max-height: 310px;
}

.hoverableSignUp {
  opacity: 0;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: rgba(51, 51, 51, 0.5);
  transition: all 0.3s ease-in-out;
}

.footer_desc {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.signUp {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: all 0.3s ease-in-out;
}

.cardContainer:hover .hover-signUp {
  transform: translateY(-100px);
  opacity: 0;
}

.hover-signUp-stay {
  transform: translateY(-100px);
  opacity: 0;
}

.hoverableSignUp-stay {
  opacity: 1;
  transform: translateY(-100px);
}

.cardContainer:hover .hoverableSignUp {
  opacity: 1;
  transform: translateY(-100px);
}

.hoverableSignUp:hover {
  transform: translateX(10px);
}

@media only screen and (max-width: 700px) {
  .instagram {
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;
  }

  .overlap {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 20px;
    top: 20px;
  }

  .reel_footer {
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
  }

  .footer_desc {
    position: absolute;
    display: none;
  }

  .cardContainer:hover .signUp {
    transform: translateY(0px);
    opacity: 1;
  }
  
  .cardContainer:hover .hoverableSignUp {
    display: none;
    opacity: 0;
    transform: translateY(0px);
  }
  
  .hoverableSignUp:hover {
    transform: translateX(0px);
  }
  
}