@import '../../css/mixins.scss';

.blog-title {
  width: 70%;
  @include mobile {
    width: 100%;
  }
}

.blog-header {
  @include mobile {
    padding: 0% 8.3%;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  @include mobile {
    row-gap: 25px;
  }
}

:root::-webkit-scrollbar {
  display: none;
  font-family: 'Roobert-Regular';
}

.blogContainer {
  margin: 0 auto;
  max-width: 970px;

  @include mobile {
    width: 100%;
  }
}

.imageContainer {
  max-width: 1130px; 
  max-height: 440px;
  overflow: hidden;

  @include mobile {
    padding: 0% 4.166%;
  }
}

.blog-paragraph {
  max-width: 770px;
}

@media only screen and (max-width: 768px) {
  .blog-paragraph {
    padding: 0% 8.33%;
  }
}