@import '../../../css/mixins.scss';

.hover-h1 {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-skip-ink: none;
  }
}

.heading {
  @include mobile {
    padding: 0% 8.33%;
  }
}

