.heading {
  font-family: 'Roobert-Regular';
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  height: 222px;
  max-width: 970px;
}

